<form class="login-form" 
      name="loginForm"
      autocomplete="off"
      trigger-on-keypress='{ "keycode":13, "method": "authenticateUser" }' novalidate>
    <h3 class="logo">my <span>address book</span></h3>
    <div id="login-error" class="login-error" ng-if="loginError">invalid user name or password</div>
    <div class="input">
        <input id="username"
               type="text"
               required
               autocorrect="off"
               autocapitalize="off"
               placeholder="username" 
               ng-model="model.username" 
               ng-model="model.username" />
    </div>
    <div class="input">
        <input id="password"
               type="password" 
               required
               autocorrect="off"
               autocapitalize="off"
               placeholder="password" 
               ng-model="model.password" 
               ng-model="model.password" />
    </div>
    <section class="input button">
        <input id="login-btn"
               type="button" 
               value="login" 
               ng-disabled="loginForm.$invalid"
               ng-click="authenticateUser()" />
    </section>
</form>