<header>
    
    <a class="logo" href="#/">my <span>address book</span></a>
    
    <a class="menu-toggle" 
       data-target="#options-menu" 
       toggle-submenu>
        <span class="icon-cog"></span>
    </a>

    <a class="menu-toggle" 
       data-target="#groups-menu" 
       ng-show="groups" 
       toggle-submenu>
        <span class="icon-group"></span>
    </a>

</header>

<ul id="options-menu" class="submenu">
    <li>
        <a href="#/myuser">
            <span class="icon-profile"></span> my user
        </a>
    </li>
    <li>
        <a class="add-contact" 
           title="add contact" 
           href="#/create"><span 
           class="icon-plus">
            </span> add new contact
        </a>
    </li>
    <li>
        <a class="add-contact" 
           title="add contact" 
           href="#/create-group">
           <span class="icon-group"></span> new group
       </a>
    </li>
    <li>
        <a href="javascript:void(0)" 
           ng-click="printContactList(); showmenu = false;">
           <span class="icon-print"></span> print contact list
       </a>
    </li>
    <li>
        <a class="logout" 
           href="#/login" 
           ng-click="logout()">
            <span class="icon-logout"></span> logout
        </a>
    </li>
</ul>

<ul id="groups-menu" class="submenu groups-menu"> 
    <li class="list-head">my groups</li>
    <li ng-click="filterByGroup('')" hide-submenus>all groups</li>
    <li ng-if="groups" ng-repeat="g in groups" ng-click="filterByGroup(g.groupname)" hide-submenus>
        <span ng-bind="g.groupname"></span>
    </li>
    <li ng-if="!groups">
        you have no groups
    </li>
</ul>