<header>
    <a class="logo" href="#/">my <span>address book</span></a>
    <a class="menu-toggle" ng-class="showmenu === true ? 'open' : ''" ng-click="showmenu == true ? showmenu = false : showmenu = true">
        <span class="icon-cog"></span>
    </a>
</header>

<ul ng-show="showmenu" id="options-menu" class="submenu">
    <li>
        <a href="#/myuser"><span class="icon-profile"></span> my user</a>
    </li>
    <li>
        <a class="add-contact" title="add contact" href="#/create"><span class="icon-plus"></span> add new contact</a>
    </li>
    <li>
        <a href="javascript:void(0)" ng-click="printContactList()"><span class="icon-print"></span> print contact list</a>
    </li>
    <li>
        <a class="logout" href="#/login" ng-click="logout()"><span class="icon-logout"></span> logout</a>
    </li>
</ul>